<div>
    <div>
    <table align="center" border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="3" style="background-color: rgb(204, 255, 153); text-align: center;"><span style="font-size:14px;"><strong>სესხის განაცხადი</strong></span></td>
            </tr>
            <tr>
                <td style="width: 33%;"><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;ბიზნეს სესხი&nbsp;</span></td>
                <td style="width: 33%;"><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;აგრო სესხი</span></td>
                <td><span style="font-size:12px;"><input checked="checked" data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;სამომხმარებლო</span></td>
            </tr>
        </tbody>
    </table>
    
    <div>&nbsp;</div>
    
    <div>
    <table align="center" border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="3" style="background-color: rgb(204, 255, 153); text-align: center;"><span style="font-size: 14px;"><b>მოთხოვნა</b></span></td>
            </tr>
            <tr>
                <td style="width: 33%; text-align: center; background-color: rgb(204, 255, 204);"><span style="font-size:12px;"><strong>სესხის თანხა/ვალუტა</strong></span></td>
                <td style="width: 33%; text-align: center; background-color: rgb(204, 255, 204);"><span style="font-size:12px;"><strong>სესხის ვადა</strong></span></td>
                <td style="text-align: center; background-color: rgb(204, 255, 204);"><span style="font-size:12px;"><strong>სესხის მიზნობრიობა</strong></span></td>
            </tr>
            <tr>
                <td style="width: 33%; text-align: center;">[[${სესხის თანხა}]]</td>
                <td style="width: 33%; text-align: center;">[[${ვადა (თვე)}]]</td>
                <td>[[${მოთხოვნილი სესხის მიზნობრიობა}]]</td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div>&nbsp;</div>
    </div>
    
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="2" style="background-color: rgb(204, 255, 153); text-align: center;"><span style="font-size:14px;"><strong>მსესხებლის დასახელება</strong></span></td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">სახელი და გვარი / სამართლებრივი ფორმა და სახელწოდება</span></td>
                <td>[[${მსესხებლის სრული სახელი}]]</td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">პირადი ნომერი / საიდენტიფიკაციო კოდი</span></td>
                <td>[[${მსესხებლის პირადი ნომერი}]]</td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">დაბადების თარიღი / დაარსების თარიღი</span></td>
                <td>[[${მსესხებლის დაბადების თარიღი}]]</td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">დაბადების ადგილი / რეგისტრაციის ქვეყანა</span></td>
                <td>[[${დაბადების ადგილი}]]</td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">საქმიანობის სფერო / დარგი / სამუშაო ადგილი</span></td>
                <td><span style="font-size:12px;">[[${საქმიანობა}]],&nbsp;[[${მსესხებელის თანამდებობა}]][[${მსესხებელის დამსაქმებელი ორგანიზაციის საქმიანობა}]]</span></td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">გამოცდილება / მუშაობის ხანგრძლივობა</span></td>
                <td>
                <div>&nbsp;</div>
    
                <div>&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">ბიზნესის / სამუშაო ადგილის მისამართი</span></td>
                <td>
                <div>&nbsp;</div>
    
                <div>&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">იურიდიული მისამართი</span></td>
                <td>
                <div><span style="font-size:12px;">[[${მსესხებლის იურიდიული მისამართი}]]</span></div>
    
                <div>&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">ფაქტობრივი მისამართი</span></td>
                <td>
                <div><span style="font-size:12px;">[[${მისამართი}]]</span></div>
    
                <div>&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">ტელეფონი / მობილური</span></td>
                <td>
                <div><span style="font-size:12px;">[[${ტელ}]]</span></div>
    
                <div>&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">როგორ მიიღეთ ინფორმაცია ქართული კრედიტის შესახებ?</span></td>
                <td>
                <div><span style="font-size:12px;">[[${ინფორმაციის წყარო}]]</span></div>
    
                <div>&nbsp;</div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div>&nbsp;</div>
    </div>
    
    <div>
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">ხართ თუ არა პოლიტიკურად აქტიური პირი?</span></td>
                <td>
                <p th:if="'კი' == ${პოლიტიკურად აქტიური პირი}"><span style="font-size:12px;"><input checked="true" data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;დიახ</span></p>
    
                <p th:if="'კი' != ${პოლიტიკურად აქტიური პირი}"><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;დიახ</span></p>
    
                <p th:if="'არა' == ${პოლიტიკურად აქტიური პირი}"><span style="font-size:12px;"><input checked="true" data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;არა</span></p>
    
                <p th:if="'არა' != ${პოლიტიკურად აქტიური პირი}"><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;არა</span></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                <div style="text-align: justify;"><span style="font-size:10px;">* პოლიტიკურად აქტიური პირი - საქართველოს ან უცხო ქვეყნის მოქალაქე ფიზიკური პირი, რომელსაც უკავია სახელმწიფო<br />
                (საჯარო) პოლიტიკური თანამდებობა ან/და ეწევა მნიშვნელოვან სახელმწიფოებრივ საქმიანობას. აგრეთვე მათი ოჯახის წევრები და მასთან უშუალო საქმიან ურთიერთობაში მყოფი პირები. პირი პოლიტიკურად აქტიურ პირად ითვლება თანამდებობის დატოვებიდან ერთი წლის განმავლობაში !!!</span></div>
    
                <div style="text-align: justify;"><span style="font-size:10px;">ასევე იურიდიული პირი, რომლის ბენეფიციარი მესაკუთრე/წარმომადგენლობაზე უფლებამოსილი პირი ან/და კონტროლის განმახორციელებელი სხვა პირი წარმოადგენს პოლიტიკურად აქტიურ პირს.</span></div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div>
    <div>&nbsp;</div>
    
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: rgb(204, 255, 153); text-align: center;"><span style="font-size:14px;"><strong>ფიზიკური პირებისთვის</strong></span></td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">ხომ არ ფლობთ ორმაგ მოქალაქეობას?</span></td>
                <td colspan="2" rowspan="1">
                <p th:if="'-' != ${ორმაგი მოქალაქეობა} and 'არა' != ${ორმაგი მოქალაქეობა}"><span style="font-size:12px;"><input checked="true" type="checkbox" />&nbsp;დიახ</span></p>
    
                <p th:if="'-' == ${ორმაგი მოქალაქეობა} or 'არა' == ${ორმაგი მოქალაქეობა}"><span style="font-size:12px;"><input type="checkbox" />&nbsp;დიახ</span></p>
    
                <p th:if="'-' == ${ორმაგი მოქალაქეობა} or 'არა' == ${ორმაგი მოქალაქეობა}"><span style="font-size:12px;"><input checked="true" type="checkbox" />&nbsp;არა</span></p>
    
                <p th:if="'-' != ${ორმაგი მოქალაქეობა} and 'არა' != ${ორმაგი მოქალაქეობა}"><span style="font-size:12px;"><input type="checkbox" />&nbsp;არა</span></p>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">საქმიანობა</span></td>
                <td>
                <div><span style="font-size:12px;">&nbsp;</span>[[${საქმიანობა ცხრილი}]]</div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div>
    <div>&nbsp;</div>
    
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: rgb(204, 255, 153); text-align: center;"><span style="font-size:14px;"><strong>იურიდიული პირებისთვის</strong></span></td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">ანგარიში ქართულ კომერციულ ბანკში?</span></td>
                <td colspan="2" rowspan="1">
                <div><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;დიახ</span></div>
    
                <div><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;არა</span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">აქციები კოტირებულია საფონდო ბირჟაზე?</span></td>
                <td colspan="2" rowspan="1">
                <div><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;დიახ</span></div>
    
                <div><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;არა</span></div>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">საქმიანობა</span></td>
                <td>
                <div><span style="font-size:12px;">&nbsp;</span>[[${საქმიანობა ცხრილი}]]</div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div>
    <div>&nbsp;</div>
    
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: rgb(204, 255, 153); text-align: center;"><span style="font-size: 14px;"><b>საკონტაქტო პირები</b></span></td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">სახელი გვარი/ ტელ: / მისამართი</span></td>
                <td colspan="2" rowspan="1">
                <div>&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">სახელი გვარი/ ტელ: / მისამართი</span></td>
                <td colspan="2" rowspan="1">
                <div>&nbsp;</div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div>
    <div>&nbsp;</div>
    
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: rgb(204, 255, 153); text-align: center;">
                <div><span style="font-size: 14px;"><b>კავშირი სს მისო&quot;ქართული კრედიტის&quot;</b></span></div>
    
                <div><span style="font-size: 14px;"><b>მსესხებელთან</b></span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">სახელი გვარი/ ტელ: / საქმიანობა</span></td>
                <td colspan="2" rowspan="1">
                <div>&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">სახელი გვარი/ ტელ: / საქმიანობა</span></td>
                <td colspan="2" rowspan="1">
                <div>&nbsp;</div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div style="text-align: justify;">
    <div>&nbsp;</div>
    </div>
    
    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
        <tbody>
            <tr>
                <td style="background-color: rgb(204, 255, 153); text-align: center;"><strong><span style="font-size:14px;">ინფორმაცია ოჯახის წევრების შესახებ</span></strong></td>
            </tr>
        </tbody>
    </table>
    
    <div th:utext="${ინფორმაცია ოჯახის წევრების რაოდენობის შესახებ}">ინფორმაცია ოჯახის წევრების რაოდენობის შესახებ;</div>
    
    <div>&nbsp;</div>
    
    <div th:utext="${ინფორმაცია ოჯახის წევრების შესახებ}">ინფორმაცია ოჯახის წევრების შესახებ;</div>
    
    <div style="text-align: justify;">
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td style="text-align: center; background-color: rgb(204, 255, 204);">კავშირი<br />
                მსესხებელთან</td>
                <td style="text-align: center; background-color: rgb(204, 255, 204);">სახელი და გვარი</td>
                <td style="text-align: center; background-color: rgb(204, 255, 204);">პირადი ნომერი/დაბადების თარიღი</td>
                <td style="text-align: center; background-color: rgb(204, 255, 204);">საქმიანობა, სამუშაო ადგილი</td>
                <td style="text-align: center; background-color: rgb(204, 255, 204);">შემოსავალი</td>
                <td style="text-align: center; background-color: rgb(204, 255, 204);">ტელეფონი</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
    <div>&nbsp;</div>
    </div>
    
    <div style="text-align: justify;">
    <table align="center" border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="6" style="background-color: rgb(204, 255, 153); text-align: center;"><span style="font-size:14px;"><strong>უზრუნველყოფა</strong></span></td>
            </tr>
            <tr>
                <td style="width: 25%;"><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;თავდებობა</span></td>
                <td style="width: 25%;"><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;უძრავი ქონება</span></td>
                <td style="width: 25%;"><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;მოძრავი ქონება</span></td>
                <td><span style="font-size:12px;"><input data-tabindex-counter="1" data-tabindex-value="none" tabindex="-1" type="checkbox" />&nbsp;სხვა</span></td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div style="text-align: justify;">
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td style="text-align: center; width: 25%; background-color: rgb(204, 255, 204);">დასახელება / პირადი ნომერი</td>
                <td style="text-align: center; width: 25%; background-color: rgb(204, 255, 204);">მისამართი / საცხოვრებელი ადგილი</td>
                <td style="text-align: center; width: 25%; background-color: rgb(204, 255, 204);">საბაზრო ღირებულება / შემოსავლის წყარო</td>
                <td style="text-align: center; width: 25%; background-color: rgb(204, 255, 204);">სალიკვიდაციო ღირებულება / შემოსავლის ოდენობა</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
    <div>&nbsp;</div>
    </div>
    
    <div style="text-align: justify;">
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="5" style="text-align: center; background-color: rgb(204, 255, 153);"><strong>შემოსავალი აგრო საქმიანობიდან (ბოლო სამეურნეო ციკლის მიხედვით)</strong></td>
            </tr>
            <tr>
                <td style="background-color: rgb(204, 255, 204); text-align: center;">დარგი/კულტურა</td>
                <td style="background-color: rgb(204, 255, 204); text-align: center;">ფართობი/სულადობა</td>
                <td style="background-color: rgb(204, 255, 204); text-align: center;">შემოსავალი</td>
                <td style="background-color: rgb(204, 255, 204); text-align: center;">ხარჯი</td>
                <td style="background-color: rgb(204, 255, 204); text-align: center;">მოგება</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
    <div>
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="6" style="text-align: center; background-color: rgb(204, 255, 153);"><strong>შემოსავალი ბიზნესიდან</strong></td>
            </tr>
            <tr>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">სამუშო დღეების რაოდენობა (თვეში)</td>
                <td style="width: 16%; text-align: left;">&nbsp;</td>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">ტრანსპორტირების ხარჯი</td>
                <td style="width: 16%; text-align: left;">&nbsp;</td>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">კომუნალური ხარჯი (თვეში)</td>
                <td style="width: 16%;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">რეალიზაცია(დღეში)</td>
                <td style="width: 16%; text-align: left;">&nbsp;</td>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">ფასნამატი</td>
                <td style="width: 16%; text-align: left;">&nbsp;</td>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">გადასახადები (თვე)</td>
                <td style="width: 16%;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">საშ. მოგება (დღეში)</td>
                <td style="width: 16%; text-align: left;">&nbsp;</td>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">იჯარის ხარჯი თვეში</td>
                <td style="width: 16%; text-align: left;">&nbsp;</td>
                <td style="width: 16%; background-color: rgb(204, 255, 204); text-align: left;">სხვა ხარჯები (თვეში)</td>
                <td style="width: 16%;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div>
    <table border="1" cellpadding="1" cellspacing="0" style="width:100%;">
        <tbody>
            <tr>
                <td colspan="2" style="background-color: rgb(204, 255, 153); text-align: center;"><span style="font-size:14px;"><strong>ზოგადი ფინანსური ინფორმაცია</strong></span></td>
            </tr>
            <tr>
                <td style="width: 50%;"><span style="font-size:12px;">ყოველთვიური ფიქსირებული შემოსავალი (გზავნილი/იჯარა/ხელფასი)</span></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><span style="font-size:12px;">სასაქონლო მარაგები</span></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>ძირითადი საშუალებები</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>სხვა შემოსავალი</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    
    <div style="text-align: justify;">&nbsp;</div>
    
    <div style="text-align: justify;"><span style="font-size:10px;">ამ განცხადებაზე ხელმოწერით მე ვადასტურებ, რომ განცხადებაში მოცემული ინფორმაცია არის ზუსტი და უტყუარი. &nbsp; &nbsp;ნებისმიერი სახის ცვლილების შემთხვევაში მიკროსაფინანსო ორგანზიაციას მივაწვდი განახლებულ ინფორმაციას. &nbsp; &nbsp;&nbsp;<br />
    წინამდებარე განცხადებაზე ხელმოწერით ვადასტურებ, რომ ნების თავისუფალი გამოვლენის საფუძველზე გავცემ თანხმობას, სს მისო &ldquo;ქართულმა კრედიტმა&ldquo; დაამუშაოს ჩემი პერსონალური მონაცემები საქართველოს კანონმდებლობით განსაზღვრული წესის შესაბამისად საკრედიტო განაცხადის დამუშავების პროცესში.&nbsp;<br />
    გთხოვთ, გაითვალისწინოთ, რომ თქვენი ინტერესების დაცვის მიზნით, თქვენ ნებისმიერ შემთხვევაში მიიღებთ სს მისო &ldquo;ქართული კრედიტისგან&ldquo; შეტყობინებებს იმ პროდუქტებთან და მომსახურებებთან დაკავშირებით, რომლითაც უკვე სარგებლობთ, ასევე ასეთ პროდუქტებსა და მომსახურების პირობებში განხორციელებული ცვლილებების შესახებ.</span></div>
    
    <div style="text-align: justify;">
    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
        <tbody>
            <tr>
                <td><span style="font-size:12px;">საკრედიტო ექსპერტი _____________________&nbsp; </span></td>
                <td>
                <div><span style="font-size:12px;">მსესხებელი _____________________</span></div>
    
                <div><span style="font-size:12px;">თარიღი&nbsp; &nbsp;____&nbsp; &nbsp;______________&nbsp; &nbsp;_____</span></div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    